create extension if not exists "uuid-ossp";

CREATE OR REPLACE FUNCTION insert_values(tablename TEXT)
   RETURNS VOID
   LANGUAGE PLPGSQL
   AS $$
BEGIN
	EXECUTE
	'INSERT INTO ' || tablename || '
	{{insertIntoSchema}}
			( ''{{startDate}}''::date, ''{{endDate}}''::date, ''{{frequency}}''::interval) observationdatetime;';
END;$$;

DO $$
DECLARE
	tablename VARCHAR;
	counter int;

	b int := 1;
	e int := {{amount}};
	postfix TEXT = '{{hypertablePrefix}}';

BEGIN
	FOR counter IN b..e LOOP
  		tablename := postfix || counter ;
		RAISE NOTICE 'Start: % %', counter, tablename;

		EXECUTE
		'drop table if exists ' || tablename ||'';

		EXECUTE
		'CREATE TABLE IF NOT EXISTS ' || tablename ||'
		(
		   {{schemaCreate}}
		);';

		EXECUTE
		'SELECT * FROM create_hypertable(''' || tablename || ''', ''observationdatetime'', chunk_time_interval => {{chunk_time_interval}})';

		PERFORM insert_values(tablename);

		RAISE NOTICE 'End: % %', counter, tablename;

   END LOOP;

END; $$